header .headerPar--block {
  background-color: #09086E;
  color: white;
  padding: 1.7%;
  margin-top: -0.7%;
  margin-left: -0.6%;
  margin-right: -0.5%;
}
header .headerPar--block p {
  width: 78%;
  margin: auto;
  font-size: 17px;
  font-family: Calibri, verdana, Comic Sans MS, sans-serif;
}
header .header-flexbox {
  width: 78%;
  margin: auto;
  font-family: calibri, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-flexbox h2 {
  font-size: 1.9em;
  letter-spacing: 1px;
}
header .header-flexbox h2 a {
  text-decoration: none;
  margin-left: 7px;
}
header .header-flexbox h2 img {
  width: 150px;
  height: 150px;
}
header .header-flexbox__link a:first-child {
  margin-right: 60px;
}
header .header-flexbox__link a {
  text-decoration: none;
  border: 1px solid #1d48c4;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bolder;
  color: #1d48c4;
}
header .header-flexbox__link a:hover {
  background-color: rgba(205, 190, 236, 0.76);
}

.section-information {
  background-color: #5556B2;
  color: whitesmoke;
  padding-top: 10%;
  padding-bottom: -1%;
  display: flex;
  justify-content: space-between;
  margin-left: -8px;
  margin-right: -8px;
}
.section-information h1 {
  width: 78%;
  margin: auto;
  font-size: 3em;
  margin-top: 5%;
}
.section-information p {
  width: 78%;
  margin: auto;
}
.section-information img {
  width: 543px;
  height: 300px;
  margin-bottom: -4px;
}
.section-information .section-information__title {
  margin-left: 7%;
}
.section-information .section-information__title h1 {
  margin-bottom: 2%;
}

.section-dev {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
.section-dev--imgCercle h2, .section-dev--imgCercle p {
  text-align: center;
  font-family: Calibri, sans-serif;
}
.section-dev--imgCercle h2 {
  color: #023877;
}
.section-dev--imgCercle p {
  font-size: 1.1em;
}
.section-dev--imgCercle img {
  border-radius: 50%;
  border: 1px solid grey;
}

.astuces-dev {
  margin: 5% -8px;
  background-color: rgba(128, 128, 128, 0.11);
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
}
.astuces-dev h1 {
  background-color: #5556B2;
  color: whitesmoke;
  padding: 10px;
  font-size: 2em;
}
.astuces-dev p {
  font-size: 1.2em;
  font-family: Cambria, serif;
}
.astuces-dev--marge {
  width: 600px;
}
.astuces-dev video {
  height: 300px;
}

.dev-help {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}
.dev-help__img--round img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 1px solid rgba(182, 182, 182, 0.66);
}
.dev-help--marge {
  margin-right: 13%;
  margin-left: -10%;
}
.dev-help--marge img {
  vertical-align: middle;
  margin-right: 1%;
  height: 19px;
  width: 19px;
}
.dev-help h2 {
  font-size: 1.9em;
  font-family: Calibri, sans-serif;
}
.dev-help p {
  font-size: 1.1em;
  font-family: Calibri, serif;
}
.dev-help a {
  text-decoration: none;
  color: rgba(142, 83, 196, 0.86);
}
.dev-help a:hover {
  background-color: rgba(205, 190, 236, 0.68);
  border-radius: 5px;
  padding: 6px 2% 1% 11px;
}
.dev-help--link {
  margin-left: 3%;
  margin-top: 3%;
}

footer {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.81);
}
footer a:hover {
  color: #0c98ff;
}
footer .footer-title {
  color: #023877;
  font-size: 0.9em;
}
footer .marge--top {
  margin-top: 20%;
}
footer .footer-link--flex {
  display: flex;
  justify-content: space-around;
}
footer .footer-link--linkModify {
  font-size: 14px;
  font-family: calibri, sans-serif;
  font-weight: bold;
  border-left: 1px solid black;
  padding-left: 100%;
}
footer .footer-link--linkModify:hover {
  color: inherit;
}

/*# sourceMappingURL=indexPageStyle.css.map */
